dist: trusty
sudo: required

before_install:
  - sudo apt-get update
  - sudo apt-get install git curl libunwind8 gettext fuse wget
  - sudo modprobe fuse
  - sudo usermod -a -G fuse "$(whoami)

install:
  - echo $PATH
  - git clone https://github.com/phil-harmoniq/NET_Pkg $TRAVIS_BUILD_DIR/NET_Pkg
  - $TRAVIS_BUILD_DIR/NET_Pkg/build.sh /usr/local/bin --yes-all

before_script:
  - netpkg-tool --help
  - sudo netpkg-tool --install-sdk --yes-all

script:
  - git clone https://github.com/phil-harmoniq/ArgTest $TRAVIS_BUILD_DIR/ArgTest
  - netpkg-tool $TRAVIS_BUILD_DIR/ArgTest $TRAVIS_BUILD_DIR
  - $TRAVIS_BUILD_DIR/ArgTest.npk one two thr33 --npk-v four
  - netpkg-tool $TRAVIS_BUILD_DIR/ArgTest $TRAVIS_BUILD_DIR --scd
  - $TRAVIS_BUILD_DIR/ArgTest.AppImage one two thr33 --npk-v four
  - netpkg-tool $TRAVIS_BUILD_DIR/ArgTest $TRAVIS_BUILD_DIR -v -n Arrrg --keep
  - $TRAVIS_BUILD_DIR/ArgTest.npk one two thr33 --npk-v four
