dist: trusty

before_install:
  - sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
  - sudo apt-get update
  - sudo apt-get install realpath dotnet-sdk-2.*

install:
  - $TRAVIS_BUILD_DIR/build-prep.sh
  - dotnet run --project $TRAVIS_BUILD_DIR $TRAVIS_BUILD_DIR $HOME

before_script:
  - $HOME/netpkg-tool --help

script:
  - git clone https://github.com/phil-harmoniq/Hello $TRAVIS_BUILD_DIR/Hello
  - dotnet restore $TRAVIS_BUILD_DIR/Hello
  - $HOME/netpkg-tool $TRAVIS_BUILD_DIR/Hello $HOME -v -n Hello.AppImage
  - $HOME/Hello.AppImage one two thr33 --npk-v four
  - $HOME/netpkg-tool $TRAVIS_BUILD_DIR/Hello $HOME --scd --keep -c
  - $TRAVIS_BUILD_DIR/Hello.AppImage one two thr33 --npk-v four
